<%- include('_banner_img') %>
<div id="navBarBox">
    <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
        <li><a href="/" ">HOME</a></li>
        <li><div class="divideLine"></div></li>
        <li><a href="/about" >ABOUT US</a></li>
        <li><div class="divideLine"></div></li>
        <li class="dropMenu"><a href="/ourdogs" >OUR DOGS</a>
            <ul class="menu">
                <li><a href="/ourdogs/allie">Allie</a></li>
                <li><a href="/ourdogs/lulu">Lulu</a></li>
                <li><a href="/ourdogs/dela">Dela</a></li>
                <li><a href="/ourdogs/crush">Crush</a></li>
            </ul>
        </li>
        <li><div class="divideLine"></div></li>
        <li><a href="/litters" >LITTERS</a></li>
        <li><div class="divideLine"></div></li>
        <li><a href="/bredby" >BRED BY</a></li>
        <li><div class="divideLine"></div></li>
        <li><a href="/gallery" >GALLERY</a></li>
        <li><div class="divideLine"></div></li>
        <li><a href="/info" >INFORMATION</a></li>
        <li><div class="divideLine"></div></li>
        <li ><a href="/contact">CONTACT</a></li>

    </ul>

</div>
