<div class="contentWrapper">
    <div class="bannerText">
        <h1>Gallery</h1>
    </div>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span> &#9664;&#xFE0E;</button>

        <ul class="orbit-container">
            <li class="orbit-slide is-active">
              <figure class="orbit-figure">
                <img class="orbit-image" src="/public/public/images/AllieSM.jpg" alt="Allie">
                <figcaption class="orbit-caption">Allie</figcaption>
              </figure>
            </li>
            <li class="orbit-slide is-active">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="/public/public/images/DelaSM.jpg" alt="Dela">
                  <figcaption class="orbit-caption">Dela DOG, FEMALE</figcaption>
                </figure>
            </li>
        </ul>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span> &#9654;&#xFE0E;</button>
    </div>
</div>


<ul>
    <li>get images for orbit</li>

</ul>