
<div id="photos"></div>
<div class="contentWrapper">
    <div class="bannerText">
        <h1>Gallery</h1>
    </div>
    <div id="orbit-mobil">
      <div class="reveal" id="orbit-modal" data-reveal>
          <div id="modal-close">Close X</div>
          
          <div id="orbitdiv">
              <div class="orbit-button" id="orbit-left" data-slide-direction="slickPrev"><i class="orbit-icon icon-left-open-big"></i></div>
              <div id="slick-orbit" class="slider slick-orbit" data-test='test'></div>
              <div class="orbit-button" id="orbit-right" data-slide-direction="slickNext"><i class="orbit-icon icon-right-open-big"></i></div>
          </div>
      </div>
  
  </div>
  
  
</div><script src="/public/public/js/stills.js"></script>


