<div class="contentWrapper">
    <div class="bannerText">
        <h1>Information</h1>
    </div>
    <div class="links mainStyle">
        <p><strong>Local links</strong>
        <br>
        <a href="http://coloaussies.org/">Colorado Australian Shepherd Association</a>
        <br>
        <a href="http://southerncoloradoasc.org/">Southern Colorado Australian Shepherd Club</a>
        <br>
        <br>
        <strong>Rescue</strong>
        <br>
        <a href="http://westernaustralianshepherdrescue.com/">Western Australian Shepherd Rescue</a>
        <br>
        <br>
        <strong>Useful links</strong>
        <br>
        <a href="http://ashi.org/">Australian Shepherd Health and Genetics</a>
        <br>
        <a href="http://asca.org/">Australian Shepherd Club of America</a>
        <br>
        <a href="http://akc.org/">American Kennel Club</a>
        <br>
        <a href="http://https//vcpl.vetmed.wsu.edu">Information on MDR1</a>
        <br>
        <br>
        <strong>Links to interesting articles</strong>
        <br>
        <a href="http://www.australian-shepherd-lovers.com/advise-before-buying.html">Before buying an Australian Shepherd</a>
        <br>
        <a href="http://www.karenshanley.com/raising-an-australian-shepherd-puppy">Five facts you should know before buying an Australian Shepherd</a>
        <br>
        <a href="http://www.akcchf.org/news-events/news/health-implications-in-early.html?">Pros and cons of early spay and neuter</a>
        <br>
        <a href="http://www.thedogplace.org/spay-neuter/considerations-canine-athelete_zink.asp">Spay/neuter and the canine athlete</a>
        <br>
        <br>
        <strong>Information on over vaccination</strong>
        <br>
        <a href="http://www.dogsnaturallymagazine.com/lifelong-immunity-vets/">Lifelong immunity - Why vets are pushing back</a>
        <br>
        <a href="http://healthypets.mercola.com/sites/healthypets/archive/2014/08/06/pet-vaccination.aspx">Titer tests & overvaccination</a>
        <br>
        </p>
    </div>
</div>