<div class="contentWrapper">
    <div class="bannerText">
        <h1>Litters</h1>
    </div>

    <div class="todo">
        <h2>TO DO</h2>
        <ul>
            <li>Get text for page</li>
            <li>get picture(s)</li>
            <li>get style preference from mom</li>
            <li>Past litters nav bar and pages</li>
            <li>litter raising philosophy</li>
        </ul>
    </div>
</div>