<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Lulu</h1>
        </div>

        <div class="dogMainImg">
            <img src="/public/public/images/allie/allie4.jpg" alt="">
        </div>
        <div class="dogTitle">
            <h3>
                GS-N JS-O RS-O RNX RA RSA-E DNA-VP JSA-E-OP GSA-O
                <br>
                AKC/ASCA CH <strong>Calais Carolina Allie Oop </strong>
            </h3>
        </div>
            <div class="sireDamDiv">
                <div class="sireDamElement">
                    <h1>Sire</h1>
                    <img src="/public/public/images/allie/allie_sire.jpg" alt="">
                    <h3>
                        AKC Bronze GCH/ ASCA CH <strong>One Fell Swoop</strong>
                        <br>
                         
                    </h3>
                    <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4>
                </div>
                <div class="sireDamElement">
                    <h1>Dam</h1>
                    <img src="/public/public/images/allie/allie_dam.jpg" alt="">
                    <h3>
                        ASCA CH <strong>Calais Carolina Betty Boop</strong> 
                    </h3>
                </div>
            </div>
            <div class="dogText1">
                <h3>
                <strong>Date of Birth</strong>: September 15th 2013
                <br>
                <strong>Weight</strong>: 46Lbs| Height: 19.5 inches |  OFA Hips: Good | OFA Elbows: Normal | Penn Hip 80th percentile 
                <br>
                Eyes cleared annually | Bite: Full Dentition/Scissors
                <br>
                Genetic health testing results (add link to paw prints panel)
                <br>
                <strong>Breeder</strong>: Jacquie Hallenbeck, Terri Morgan, Selena Poplin, Elizabeth Stibley
                <br>
                <strong>Owner</strong>: Jacquie Hallenbeck
                
            </h3>
            <h4><a href="">Pedigree</a></h4>
            <div class="dogText2 mainStyle lineTop">
                <h1>About Allie</h1>
                <p>
                    Allie was my pick from my first litter, she was a stunning puppy who grew into a an absolutely beautiful adult. Allie had great success in the show ring, she took her first four point major on the day she turned six months and  finished with very limited showing with three five point majors.  She finished in style in AKC by going breed over a large group of specials owner handled.
                    Allie premiered all three times shown at the 2015 ASCA nationals held in Tennessee and since being spayed has taken multiple premiers and a BOS at the 2018 Greeley ASCA nationals. She was 5th in Altered conformation finals in 2019.
                    Allie loves agility and has taken multiple HIT in the ASCA ACE program. She has a few ASCA rally titles but it’s not her favorite activity that’s for sure,. She has a couple of legs in started sheep and ducks and some titles in barn hunt.
                    Allie is most happy going on hikes in the mountains and foothills and going to work with her best friend Drew

                </p>
            </div>
            </div>
    </div>
</div>


