<div class="contentWrapper">
    <div class="bannerText">
        <h1>Our Dogs</h1>
    </div>
    <div id="topBox" class="dogBox">
        <div id="allieDiv" class="dogDiv">
            <img src="/public/public/images/AllieSM.jpg" alt="">
                <h3>AKC/ASCA CH Calais Carolina Allie Oop GS-N JS-O RS-O RSA-O JSA-O GSA-N RSA-N JSA-N 
                <br>
                <strong>ALLIE</strong>
            </h3>
        </div>
        <div id="delaDiv" class="dogDiv">
            <img src="/public/public/images/DelaSM.jpg" alt="">
                <h3>VCH PCH WTCH ASCA A-CH Carolina Calais Set Fire To The Rain GS-O JS-E RS-O RAX REX HDAds OA OAJ
                <br>
                <strong>DELA</strong>
            </h3>
        </div>
    </div>
    <div id="bottomBox" class="dogBox">
        
        
    </div>
    <div id="tempDiv" style="text-align: center;">
    <h2>TO DO</h2>
        <ul style="list-style: decimal;">
            <li>get picture and title for crush</li>
            <li>get picture and title for Lulu</li>
        </ul>
    </div>
</div>