<div class="contentWrapper">
    <div class="soloDogPage">
        <div class="bannerText">
            <h1>Wyatt</h1>
        </div>

        <!-- <div class="dogMainImg">
            <img src="/public/public/images/lulu/lulu_gallery29.jpg" alt="">
        </div> -->
                <div class="sliderBox" data-dog='lulu'>
                    <div class="slider-for">

                </div></div>

        <div class="dogTitle">
            <h3>
                AKC GCH/ASCA CH <strong>Highline’s To Sir with Love</strong>
                <br>
                GS-N JS-N RS-N RNX RAX REX RMX DNA-VP
            </h3>
        </div>
        
                
                <div class="sliderNavBox">
                    <div class="slider-nav">

                </div></div>
            
            <div class="dogText1 dogText">
            <h3>
                <strong>Date of Birth</strong>: March 21st, 2017
                <br>
                <strong>Weight</strong>: 42Lbs| Black Tri Female | Height: 19 inches | OFA Hips: Excellent | OFA Elbows:
                Normal
                <br>
                Eyes cleared annually | Bite: Full Dentition/Scissors
                <br>
                Genetic health testing results (add link to paw prints panel)
                <br>
                <strong>Breeder/Owner</strong>: Jacquie Hallenbeck


            </h3>
            <h4><a href="">Pedigree</a></h4>
            
        </div>
        <div class="sireDamDiv">
            <div class="sireDamElement">
                <h1>Sire</h1>
                <img src="/public/public/images/tango/tangosm.jpg" alt="">
                <h3>
                    MBIS MBISS GCh. ASCA CH <br><strong>Silverwood's Kiss of Fire at Limelite</strong><br> 
                    <br>
                    <a href="http://www.limeliteaussies.com/tango.html"><strong>TANGO</strong></a>

                </h3>

            </div>
            <div class="sireDamElement">
                <h1>Dam</h1>
                <img src="/public/public/images/lulu/allie.jpg" alt="">
                <h3>
                    AKC/ASCA CH <strong>Calais Carolina Allie Oop</strong>
                    <br>
                    GS-N JS-O RS-O RNX RA RSA-E DNA-VP JSA-E-OP GSA-O
                    <br>
                    <a href="/ourdogs/allie"><strong>ALLIE</strong></a>
                </h3>
            </div>
        </div>
        
    </div>
</div>
<script src="/public/public/js/slider.js">

</script>